{% extends 'base.html.twig' %}

{% block title %}Modifier {{ drink.name }}{% endblock %}

{% block body %}
 {% if is_granted("ROLE_ADMIN") %}
    <h1>Modifier {{ drink.name }}</h1>
<div class="container-tableau">

                {{ include('admin/drink/_form.html.twig', {'button_label': 'Update'}) }}

                <a href="{{ path('drink_index_admin') }}">Retour</a>

                {{ include('admin/drink/_delete_form.html.twig') }}
            {% else %}
            <p> Vous devez être administrateur pour voir ce contenu ! </p>
            {% endif %}
</div>
{% endblock %}
