{% extends 'base.html.twig' %}

{% block title %}Hello Admin!{% endblock %}

{% block body %}
 {% if is_granted("ROLE_ADMIN") %}
{% include '/admin/adminBase.html.twig' %}

    {{ form_start(form) }}
    <div class="searchbar">
        {{ form_widget(form.search) }}
        {{ form_help(form.search) }}
        {{ form_errors(form.search) }}
        <button id="search" class=""><i class="fas fa-search"></i></button>
    </div>
    {{ form_end(form) }}

<div class="container-tableau">
    <table>
        <thead>
            <tr>
                <th class="datas-form-big">Boisson</th>
                <th class="datas-form-small">Description</th>
                <th class="datas-form-small">Ingrédient</th>
            </tr>
        </thead>
            {% for drink in drinks %}
                <tr>
                    <td class="datas-form-big">{{ drink.name|title }}</td>
                    <td class="datas-form-big">{{ drink.description|slice (0, 100) }}</td>
                    <td class="datas-form-big">
                    {% for ingredient in drink.ingredients %}
                        {{ ingredient.name }}
                    {% endfor %}
                    </td>
                     <td class="datas-form-small">
                        <a href="{{ path('drink_show', {'id': drink.id}) }}"><i class="fas fa-eye"></i></a>
                    </td>
                    <td class="datas-form-small">
                        <a href="{{ path('drink_edit', {'id': drink.id}) }}"><i class="fas fa-pen"></i></a>
                    </td>
                    <td class="datas-form-small">
                        {{ include('/admin/drink/_delete_form.html.twig') }}</span>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun élément dans la base de données.</td>
                </tr>
            {% endfor %}
    </table>
    </div>

    <center>
        <a class="btn-admin" href="{{ path('ingredient_new') }}">Ajouter une boisson</a>
    </center>

        <div class="btn">
            <center>
            <a class="btn-admin" href="{{ path('admin') }}">Retour</a>
            </center>
        </div>
</div>
{% else %}
<p> Vous devez être administrateur pour voir ce contenu ! </p>
{% endif %}

{% endblock %}
