{% extends 'base.html.twig' %}

{% block title %}Bienfait {{ benefit.name }}{% endblock %}

{% block body %}
{% include "user/userBase.html.twig" %}
    <h1>{{ benefit.name }}</h1>
        <div class="ingredientShow">
            <div class="showBody">
            <img src="{{benefit.image}}" alt="{{ benefit.name }} poster">
                <div class="text">
                    <p>{{ benefit.description }}</p>
                </div>
                <div class="liens">
                    <p> Les ingrédients :</p>
                        {% for ingredient in benefit.ingredients %}
                            <li>
                                <a href="{{ path('ingredient_show', {'id' : ingredient.id}) }}">
                                {{ingredient.name}}
                                </a>
                            </li>
                        {% endfor %}
                </div>
            </div>
        </div>

        <center>
            <div class="btn">
                <a href="{{ path('ingredient_index') }}">
                    Retour
                </a>
            </div>
        </center>
</div>
{% include "user/userFooter.html.twig" %}
{% endblock %}
