{% extends 'base.html.twig' %}

{% block title %}Les bienfaits{% endblock %}

{% block body %}
    {% include "userBase.html.twig" %}
    <h1>Les Bienfaits</h1>

    <div class="searchbar">
        {{ form_start(form) }}
        {{ form_widget(form.search) }}
        {{ form_help(form.search) }}
        {{ form_errors(form.search) }}
        <button id="search" class=""><i class="fas fa-search"></i></button>
        {{ form_end(form) }}
    </div>

    <div class="lesbenefits">
        {% for benefit in benefits %}
            <div class="benefit">
                <img class="align-self-start mr-3" src="{{benefit.image}}" alt="{{ benefit.name }} poster">
                <h2>{{ loop.index }} . {{ benefit.name }}</h2>
                <p class="card-text">{{ benefit.description| striptags | slice(0, 180) }} [...] </p>
                {# Lien vers la fiche benefit : #}
                <center>
                    <a href="{{ path("benefit_show", {'id': benefit.id}) }}">Voir plus</a>
                </center>
            </div>
        {% else %}
        Aucune élément trouvé.
        {% endfor %}
    </div>
    {% include "userFooter.html.twig" %}
{% endblock %}
