{% extends 'base.html.twig' %}

{% block title %}Les boissons{% endblock %}

{% block body %}
    {% include "userBase.html.twig" %}
    <h1>Les Boissons</h1>


    {{ form_start(form) }}
    <div class="searchbar">
        {{ form_widget(form.search) }}
        {{ form_help(form.search) }}
        {{ form_errors(form.search) }}
        <button id="search" class=""><i class="fas fa-search"></i></button>
    </div>
    {{ form_end(form) }}

    <div class="lesdrinks">
        {% for drink in drinks %}
            <div class="drink">
                <img class="align-self-start mr-3" src="{{drink.image}}" alt="{{ drink.name }} poster">
                <h2>{{ loop.index }} . {{ drink.name }}</h2>
                <p class="card-text">{{ drink.description| striptags | slice(0, 180) }} [...] </p>
                {# Lien vers la fiche drink : #}
                <center>
                    <a href="{{ path("drink_show", {'id': drink.id}) }}">Voir plus</a>
                </center>
            </div>
        {% else %}
        Aucune boisson trouvé.
        {% endfor %}
    </div>
    {% include "userFooter.html.twig" %}
{% endblock %}
