{% extends 'base.html.twig' %}

{% block title %}Les ingrédients{% endblock %}

{% block body %}
    {% include "user/userBase.html.twig" %}
    <h1>Les ingrédients</h1>

     <div class="searchbar">
        {{ form_start(form) }}
        {{ form_widget(form.search) }}
        {{ form_help(form.search) }}
        {{ form_errors(form.search) }}
        <button id="search" class=""><i class="fas fa-search"></i></button>
        {{ form_end(form) }}
    </div>

    <div class="lesIngredients">
        {% for ingredient in ingredients %}
            <div class="ingredient">
                <img class="align-self-start mr-3" src="{{ingredient.image}}" alt="{{ ingredient.name }} poster">
                <h2>{{ loop.index }} . {{ ingredient.name }}</h2>
                <p class="card-text">{{ ingredient.description| striptags | slice(0, 180) }} [...] </p>
                {# Lien vers la fiche ingredient : #}
                <center>
                    <a href="{{ path("ingredient_show", {'id': ingredient.id}) }}">Voir plus</a>
                </center>
            </div>
        {% else %}
        Aucune ingrédient trouvé.
        {% endfor %}
    </div>
    {% include "user/userFooter.html.twig" %}
{% endblock %}
