{% extends 'base.html.twig' %}

{% block title %}Ingredient{% endblock %}

{% block body %}
{% include "user/userBase.html.twig" %}
    <h1>{{ ingredient.name }}</h1>
        <div class="ingredientShow">
            <div class="showBody">
            <img src="{{ingredient.image}}" alt="{{ ingredient.name }} poster">
                <div class="text">
                    <p>{{ ingredient.description }}</p>
                    <strong>Bienfaits :</strong>
                    <p>
                    {% for benefit in ingredient.benefits %}
                        <a href="{{ path('benefit_show', {'id': benefit.id}) }}">{{ benefit.name }}</a>
                    {% else %}
                    <p>Aucun élément pour ce produit</p>
                    {% endfor %}
                    </p>
                </div>
                <div class="liens">
                    <p> Les Boissons :</p>
                        {% for drink in ingredient.drinks %}
                            <li>
                                <a href="">
                                {{drink.name}}
                                </a>
                            </li>
                        {% endfor %}
                </div>
            </div>
        </div>
          <div class="btn">
                <a href="{{ path('ingredient_index') }}">
                    Retour
                </a>
            </div>
</div>
{% include "user/userFooter.html.twig" %}
{% endblock %}
